:root {
    --clr-primary: #a3b18a;
    --clr-secondary: #344e41;
    --clr-background: #000000;
    --clr-content-background:  #262626;
    --clr-gradient: rgb(0,0,0,0.6);
    --clr-gradient-weak: rgba(0, 0, 0, 0.2);
    --clr-text: #fff;
    --clr-accent: #a3b18a;
    --clr-msg: #588157;
    --clr-white: #fff;
    --clr-black: #000000;
  
  }